<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to LSKT</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Maname:wght@400&display=swap" />
    <link rel="stylesheet" href="/static/css/coming-soon.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="frame">
        <div class="frame-1">
          <div onclick="window.location.href = '/';" class="lskt-logo"></div>
          <div class="navigation-bar">
            <span onclick="window.location.href = '/temple';" class="temple">temple</span
              ><span onclick="window.location.href = '/charity';" class="charity">charity</span
              ><span onclick="window.location.href = '/services';" class="services">services</span
              ><span onclick="window.location.href = '/school';" class="school">school</span
              ><span onclick="window.location.href = '/about';" class="about">about</span>
          </div>
        </div>
      </div>
      <div class="frame-2">
        <span class="new-website-development"
          >OUR NEW WEBSITE IS CURRENTLY IN DEVELOPMENT </span
        ><span class="information-release-website"
          >For now, please refer to this website for information on the LSKT Saturday School
          only. We expect to release the rest of the website in the coming
          weeks.
        </span>
      </div>
      <span class="contact-us">CONTACT US</span
      ><span class="weekend-opening">
        <span class="lewisham-sivan-kovil"
          >Lewisham Sivan Kovil<br />4A Clarendon Rise<br />Lewisham, Greater
          London<br />SE13 5ES<br /><br />​</span
        ></span
      ><span class="weekend-opening-3">
        <span class="telephone-info"
          >Telephone: <br />020 8318 9844 <br />(Call between 9:00 AM to 2:00 PM
          and 5:30 PM to 8:00 PM)</span
        ></span
      ><span class="weekend-opening-4">
        <div class="email-info">
          <span class="email-info-5">email: </span
          ><span class="sivan-kovil-email">sivan.kovil@yahoo.co.uk<br /></span>
        </div>
      </span>
      <div class="footer">
        <div class="footer-left">
          <span class="lewisham-sivan-temple"
            >Lewisham Sivan Temple<br />4A Clarendon Rise<br />Lewisham, Greater
            London<br />SE13 5ES<br /><br />Charity No. 1051516<br /><br /></span
          ><span class="london-sivan-kovil">© London Sivan Kovil</span>
        </div>
        <div class="footer-right">
          <div class="frame-6">
            <div onclick="window.location.href = '//www.facebook.com/londonsivankoviltrust';" class="vector"></div>
            <span class="london-sivan-kovil-trust"
              >London Sivan Kovil Trust</span
            >
          </div>
          <span class="s-arunsharma">S Arunsharma</span>
        </div>
      </div>
    </div>
  </body>
</html>

