<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to LSKT</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Maname:wght@400&display=swap" />
    <link rel="stylesheet" href="/static/css/landing.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="flex-row">
        <div class="lskt-logo"></div>
        <div class="navigation-bar">
          <span class="temple">temple</span><span class="charity">charity</span
          ><span class="services">services</span
          ><span class="school">school</span><span class="about">about</span>
        </div>
      </div>
      <div class="hero-info">
        <span class="london-sivan-kovil">LONDON SIVAN KOVIL</span
        ><span class="official-website"
          >Welcome to the official London Sivan Kovil website. Located in
          Lewisham, we have been serving the Hindu community since 1993.</span
        >
      </div>
      <button class="contact-button">
        <span class="contact-section">Contact Us</span></button
      ><button class="calendar-button">
        <span class="calendar-section">Temple Calendar</span>
      </button>
      <div class="flex-row-1">
        <span class="announcements-festivals">ANNOUNCEMENTS & FESTIVALS</span
        ><span class="key-dates"
          >Please use the latest information about the temple as well as key
          dates for your diary.
        </span>
        <div class="rectangle"></div>
      </div>
      <div class="flex-row-2">
        <div class="location"></div>
        <div class="location-title">
          <span class="how-to-get-here">HOW TO GET HERE?</span
          ><span class="located-in-lewisham"
            >Located in the heart of Lewisham Central, there are a wide range of
            bus and train links within walking distance of the temple.</span
          >
        </div>
        <div class="bus-vector"></div>
        <div class="train-vector"></div>
        <span class="bus-info"
          >Buses stopping at Belmont Park stop in front of the temple. In
          addition, at a 5min walk, you can access 34 different bus routes at
          Lewisham centre connecting to all parts of South London.</span
        ><span class="train-info"
          >DLR and National Rail services from Lewisham station at a 10min walk.
          Journeys are less than 10min from London Bridge and 20min from Charing
          Cross.
        </span>
        <div class="opening-times">
          <div class="weekend-opening">
            <div class="friday-saturday-sunday">
              <span class="friday-saturday-sunday-3"
                >Friday, Saturday and Sunday</span
              ><span class="opening-hours"></br>8:00AM to 9:00PM</span>
            </div>
          </div>
          <div class="weekday-opening">
            <div class="weekday-hours">
              <span class="weekday-days">Monday to Thursday<br /><br /></span
              ><span class="weekday-times"
                >8:00AM to 2:00PM<br />5:00PM to </span
              ><span class="closing-time">8:00PM</span>
            </div>
          </div>
        </div>
        <button class="pooja-time-info">
          <div class="pooja-info-box">
            <span class="pooja-info-text"
              >Pooja Times:<br />8:00AM, 10:00AM, 12:00PM, 5:30PM, 7:30PM,
              9:00PM</span
            >
          </div>
        </button>
      </div>
      <button class="car-park-info">
        <div class="frame">
          <span class="car-parking"
            >Car Parking is available adjacent to the temple at Clarendon Rise
            Car Park.</span
          >
        </div>
      </button>
      <div class="footer">
        <div class="footer-left">
          <span class="lewisham-sivan-temple"
            >Lewisham Sivan Temple<br />4A Clarendon Rise<br />Lewisham, Greater
            London<br />SE13 5ES<br /><br />Charity No. 1051516<br /><br /></span
          ><span class="london-sivan-kovil-4">© London Sivan Kovil</span>
        </div>
        <div class="footer-right">
          <div class="frame-5">
            <div onclick="window.location.href = 'www.facebook.com/londonsivankoviltrust/?locale=en_GB';" class="vector"></div>
            <span class="london-sivan-kovil-trust"
              >London Sivan Kovil Trust</span
            >
          </div>
          <span class="s-arunsharma">S Arunsharma</span>
        </div>
      </div>
      <div class="hero-bg"></div>
    </div>
  </body>
</html>
