<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tamil @ LSKT School</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Maname:wght@400&display=swap" />
    <link rel="stylesheet" href="/static/css/school-tamil.css" />
  </head>
  <body>
    <div class="main-container">
      <span class="teachers">TEACHERS</span>
      <div class="frame">
        <span class="beginners">Beginners</span>
        <div class="frame-1">
          <div class="frame-2">
            <div class="image"></div>
            <span class="mrs-panchamoothy-samanthar"
              >Mrs. N Panchamoothy<br />Samanthar - 1</span
            >
          </div>
          <div class="frame-3">
            <div class="whatsapp-image"></div>
            <span class="mr-sivapilli-samanthar"
              >Mr. S Sivapilli<br />Samanthar - 2</span
            >
          </div>
          <div class="frame-4">
            <div class="image-5"></div>
            <span class="mrs-s-thanaraj-samanthar"
              >Mrs. S Thanaraj<br />Samanthar - 3</span
            >
          </div>
        </div>
      </div>
      <span class="teachers-contact-info"
        >Teachers can be contacted at the end of the school day, via the school
        co-ordinator Sharmilla or at our termly coffee mornings. You can also
        send an email at: londonsivant@gmail.com</span
      >
      <div class="footer">
        <div class="footer-left">
          <span class="lewisham-sivan-temple"
            >Lewisham Sivan Temple<br />4A Clarendon Rise<br />Lewisham, Greater
            London<br />SE13 5ES<br /><br />Charity No. 1051516<br /><br /></span
          ><span class="london-sivan-kovil">© London Sivan Kovil</span>
        </div>
        <div class="footer-right">
          <div class="frame-6">
            <div onclick="window.location.href = 'www.facebook.com/londonsivankoviltrust/?locale=en_GB';" class="vector"></div>
            <span class="london-sivan-kovil-trust"
              >London Sivan Kovil Trust</span
            >
          </div>
          <span class="s-arunsharma">S Arunsharma</span>
        </div>
      </div>
      <div class="rectangle">
        <div class="frame-7">
          <span class="teaching-tamil">TEACHING TAMIL</span
          ><span class="oldest-living-language"
            >As the oldest living language in the world, we continue to teach
            our children our mother tongue to help preserve our culture,
            traditions and values. We take students from any background or
            language experience and hopefully they will end their time with us
            with a GCSE in the language.
          </span>
        </div>
        <div class="navigation-bar">
          <span onclick="window.location.href = '/temple';" class="temple">temple</span
            ><span onclick="window.location.href = '/charity';" class="charity">charity</span
            ><span onclick="window.location.href = '/services';" class="services">services</span
            ><span onclick="window.location.href = '/school';" class="school">school</span
            ><span onclick="window.location.href = '/about';" class="about">about</span>
        </div>
        <div onclick="window.location.href = '/' ;" class="lskt-logo"></div>
      </div>
      <div class="image-removebg-preview"></div>
      <div class="frame-8">
        <span class="beginners-9">Beginners + </span>
        <div class="frame-a">
          <div class="whatsapp-image-b"></div>
          <span class="mrs-s-kirupakaran"
            >Mrs. S Kirupakaran<br />Appar - 1</span
          >
        </div>
      </div>
      <div class="rectangle-c">
        <span class="sylabus">SYLABUS</span>
        <div class="frame-d">
          <span class="tamil-department"
            >Our Tamil Department follows the Tamil Education Development
            Council’s curriculum as well as the Valar Tamil Books which you will
            be encouraged to buy from the school. Homework is given every week
            from this book and/or other media. Information can be found at<br /><br /><br /><br />Students
            are also given extensive opportunities to perform speeches, debates
            and dramas on stage in Lewisham and other parts of London.
            <br /><br />As students progress, the school will provide
            opportunities to sit the TEDC’s exams and eventually the Cambridge
            GCSE Exam. Extra classes are available if wanted for these exams or
            generally,.</span
          >
        </div>
        <button onclick="window.location.href = '//www.tedc.org.uk';" class="health-safety-button">
          <span class="curriculum-info">Curriculum Info</span>
        </button>
      </div>
      <div class="frame-e">
        <span class="intermediate">Intermediate</span>
        <div class="frame-f">
          <div class="image-10"></div>
          <span class="mrs-p-velliah-sundarar"
            >Mrs. P Velliah<br />Sundarar -1
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
