<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School @ LSKT</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Maname:wght@400&display=swap" />
    <link rel="stylesheet" href="/static/css/school-apply.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="frame">
        <div class="frame-1">
          <div onclick="window.location.href = '/';" class="lskt-logo"></div>
          <div class="navigation-bar">
            <span onclick="window.location.href = '/temple';" class="temple">temple</span
              ><span onclick="window.location.href = '/charity';" class="charity">charity</span
              ><span onclick="window.location.href = '/services';" class="services">services</span
              ><span onclick="window.location.href = '/school';" class="school">school</span
              ><span onclick="window.location.href = '/about';" class="about">about</span>
          </div>
        </div>
      </div>
      <div class="frame-2">
        <span class="join-the-lskt-saturday-school"
          >JOIN THE LSKT SATURDAY SCHOOL</span
        ><span class="application-form"
          >Fill out the application form and our team will be in touch. The
          school term begins on Saturday 14th September 2024. Applications are
          accepted at any time of the year.
        </span>
      </div>
      <div class="flex-row-b">
        <div class="frame-3">
          <span class="subject-costs"
            >Each subject costs £25 per term. <br />This is with the exception
            of Pannisai which is free for all.<br /><br />DISCLAIMER: WE ASK
            THAT ADULTS WISHING TO STUDY PANNISAI NOT APPLY THROUGH THIS FORM.
            PLEASE CONTACT THE KOVIL OFFICE FOR DETAILS
          </span>
        </div>
        <div class="frame-4">
          <span class="text-9"
            >We ask payments be made before the end of each term.
            <br /><br />Each term is generally from: <br />September to
            December<br />January to April<br />April to July<br /><br />Specific
            dates are directly given to parents who have joined</span
          >
        </div>
      </div>
      <iframe class ="rectangle" src="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAN__nq-Xl1UQktMN1VKWkxKNTNRM0FZQ1M3MTFYSExBMS4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
      <div class="footer">
        <div class="footer-left">
          <span class="lewisham-sivan-temple"
            >Lewisham Sivan Temple<br />4A Clarendon Rise<br />Lewisham, Greater
            London<br />SE13 5ES<br /><br />Charity No. 1051516<br /><br /></span
          ><span class="london-sivan-kovil">© London Sivan Kovil</span>
        </div>
        <div class="footer-right">
          <div class="frame-5">
            <div onclick="window.location.href = '//www.facebook.com/londonsivankoviltrust';" class="vector"></div>
            <span class="london-sivan-kovil-6">London Sivan Kovil Trust</span>
          </div>
          <span class="s-arunsharma">S Arunsharma</span>
        </div>
      </div>
    </div>
  </body>
</html>

