<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dance @ LSKT School</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Maname:wght@400&display=swap" />
    <link rel="stylesheet" href="/static/css/school-dance.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <div class="image"></div>
        <div class="navigation-bar">
          <span onclick="window.location.href = '/temple';" class="temple">temple</span
            ><span onclick="window.location.href = '/charity';" class="charity">charity</span
            ><span onclick="window.location.href = '/services';" class="services">services</span
            ><span onclick="window.location.href = '/school';" class="school">school</span
            ><span onclick="window.location.href = '/about';" class="about">about</span>
        </div>
        <div onclick="window.location.href = '/' ;" class="lskt-logo"></div>
        <div class="frame">
          <span class="teaching-bharathanatiyam">TEACHING BHARATHANATYAM</span
          ><span class="bharatanatyam-description"
            >Bharatanatyam is one of the most divine dance forms of India.
            Bharatanatyam’s statues poses, geometric lines, detailed hand and
            eye movements and complex foot rhythms around a deeply spiritual
            core. The rhythmic use of time in the music and steps is a sacred
            language that has survived life’s changes through millennia.<br
          /></span>
        </div>
      </div>
      <span class="teacher">TEACHER</span>
      <div class="frame-1">
        <div class="frame-2">
          <div class="frame-3">
            <div class="image-4"></div>
            <span class="mrs-sujatha-sathees"
              >Mrs. Sujatha Sathees<br />Bharathanatyam</span
            >
          </div>
        </div>
      </div>
      <div class="frame-5">
        <span class="syllabus">SYLABUS</span
        ><span class="bharathanatiyam-department"
          >The Bharathanatyam Department follows the Oriental Fine Arts Academy
          of London (OFAAL) Curriculum. This is an exam board that provides the
          OFQUAL qualified RSL Award for extra curricular and musical
          activities. Student are prepared to take the exam to the next grade at
          their own speed and parental discretion all the way up to Grade 8
          (Diploma) where the students graduate. Please use curriculum info
          below.<br /><br />All pupils are given the opportunity to perform at
          the Lewisham Sivan Kovil annual programmes, charity events and UK wide
          cultural conferences.
        </span>
        <div class="image-6"></div>
        <button onclick="window.location.href = '//www.ofaal.org/examination/syllabus/bharatanatyam1/';" class="health-safety-button">
          <span class="curriculum-info">Curriculum Info</span>
        </button>
      </div>
      <span class="contact-teachers"
        >Teachers can be contacted at the end of the school day, via the school
        co-ordinator Sharmilla or at our termly coffee mornings. You can also
        send an email at: londonsivant@gmail.com</span
      >
      <div class="footer">
        <div class="footer-left">
          <span class="text-e"
            >Lewisham Sivan Temple<br />4A Clarendon Rise<br />Lewisham, Greater
            London<br />SE13 5ES<br /><br />Charity No. 1051516<br /><br /></span
          ><span class="text-f">© London Sivan Kovil</span>
        </div>
        <div class="section-4">
          <div class="wrapper-3">
            <div onclick="window.location.href = '//www.facebook.com/londonsivankoviltrust';" class="img-2"></div>
            <span class="text-10">London Sivan Kovil Trust</span>
          </div>
          <span class="text-11">S Arunsharma</span>
        </div>
      </div>
    </div>
  </body>
</html>
