<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carnatic Music @ LSKT School</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Maname:wght@400&display=swap" />
    <link rel="stylesheet" href="/static/css/school-keyboard.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <div class="navigation-bar">
          <span onclick="window.location.href = '/temple';" class="temple">temple</span
            ><span onclick="window.location.href = '/charity';" class="charity">charity</span
            ><span onclick="window.location.href = '/services';" class="services">services</span
            ><span onclick="window.location.href = '/school';" class="school">school</span
            ><span onclick="window.location.href = '/about';" class="about">about</span>
        </div>
        <div onclick="window.location.href = '/' ;" class="lskt-logo"></div>
        <div class="image-removebg-preview"></div>
        <div class="frame">
          <span class="teaching-carnatic-music"
            >TEACHING CARNATIC MUSIC (KEYBOARD)</span
          ><span class="next-generation-musicians"
            >By combining one of the oldest genres and the new technological
            instruments, the school offers the opportunity to learn Carnatic
            Music on the keyboard to build the next generation of
            musicians.</span
          >
        </div>
      </div>
      <span class="teachers">TEACHERS</span>
      <div class="rectangle-1"></div>
      <span class="ms-mahilzini-balasubramaniam"
        >Ms Mahilzini Balasubramaniam<br />(Keyboardl)</span
      ><span class="teachers-contact-info"
        >Teachers can be contacted at the end of the school day, via the school
        co-ordinator Sharmilla or at our termly coffee mornings. You can also
        send an email at: londonsivant@gmail.com</span
      >
      <div class="footer">
        <div class="footer-left">
          <span class="lewisham-sivan-temple"
            >Lewisham Sivan Temple<br />4A Clarendon Rise<br />Lewisham, Greater
            London<br />SE13 5ES<br /><br />Charity No. 1051516<br /><br /></span
          ><span class="london-sivan-kovil">© London Sivan Kovil</span>
        </div>
        <div class="footer-right">
          <div class="frame-2">
            <div onclick="window.location.href = '//www.facebook.com/londonsivankoviltrust';" class="vector"></div>
            <span class="london-sivan-kovil-trust"
              >London Sivan Kovil Trust</span
            >
          </div>
          <span class="s-arunsharma">S Arunsharma</span>
        </div>
      </div>
      <div class="frame-3">
        <span class="sylabus">SYLABUS</span
        ><span class="keyboard-carnatic-music"
          >The Keyboard Carnatic Music Department follows the Oriental Fine Arts
          Academy of London (OFAAL) Curriculum. This is an exam board that
          provides the OFQUAL qualified RSL Award for extra curricular and
          musical activities. Student are prepared to take the exam to the next
          grade at their own speed and parental discretion all the way up to
          Grade 8 (Diploma) where the students graduate. Please use curriculum
          info below.<br /><br />All pupils are given the opportunity to perform
          at the Lewisham Sivan Kovil annual programmes, charity events and UK
          wide cultural conferences. </span
        ><button onclick="window.location.href = '//www.ofaal.org/examination/syllabus/vocal-instrumental1/';" class="health-safety-button">
          <span class="curriculum-info">Curriculum Info</span>
        </button>
      </div>
      <div class="image"></div>
    </div>
  </body>
</html>
