<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School @ LSKT</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Maname:wght@400&display=swap" />
    <link rel="stylesheet" href="/static/css/school-health-safety.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="frame">
        <div class="frame-1">
          <div onclick="window.location.href = '/' ;" class="lskt-logo"></div>
          <div class="navigation-bar">
            <span onclick="window.location.href = '/temple';" class="temple">temple</span
              ><span onclick="window.location.href = '/charity';" class="charity">charity</span
              ><span onclick="window.location.href = '/services';" class="services">services</span
              ><span onclick="window.location.href = '/school';" class="school">school</span
              ><span onclick="window.location.href = '/about';" class="about">about</span>
          </div>
        </div>
      </div>
      <div class="frame-2">
        <span class="health-and-safety">HEALTH AND SAFETY AT SCHOOL</span
        ><span class="child-safety"
          >Safeguarding is LSKT School's top priority. To provide you with piece of mind and to make sure your child is
          safe, the school takes tremendous steps to keep child safety our top
          priority.</span
        >
      </div>
      <div class="flex-row-ad">
        <div class="frame-3">
          <span class="children-escorted"
            >Children are escorted by staff members from parents upstairs to the
            classrooms and backdown again until they are picked up. This is to
            ensure nobody gets lost or left behind.<br /><br />If a child takes
            more than one subject, they are escorted by staff to their next
            class.</span
          >
        </div>
        <div class="frame-4">
          <span class="onsite-coordinator"
            >LSKT School has an onsite qualified first aid and safety
            co-ordinator. <br /><br
          /></span>
        </div>
        <div class="frame-5">
          <span class="dbs-checked"
            >Teachers have been DBS checked to ensure you get the best.</span
          >
        </div>
      </div>
      <div class="image"></div>
      <span class="school-coordinator"
        >Mrs. Sharmilla Manoharan<br />School Co-ordinator and First Aid
        Lead</span
      >
      <div class="footer">
        <div class="footer-left">
          <span class="lewisham-sivan-temple"
            >Lewisham Sivan Temple<br />4A Clarendon Rise<br />Lewisham, Greater
            London<br />SE13 5ES<br /><br />Charity No. 1051516<br /><br /></span
          ><span class="london-sivan-kovil">© London Sivan Kovil</span>
        </div>
        <div class="footer-right">
          <div class="frame-6">
            <div onclick="window.location.href = '//www.facebook.com/londonsivankoviltrust';" class="vector"></div>
            <span class="london-sivan-kovil-trust"
              >London Sivan Kovil Trust</span
            >
          </div>
          <span class="s-arunsharma">S Arunsharma</span>
        </div>
      </div>
    </div>
  </body>
</html>
