<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School @ LSKT</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Maname:wght@400&display=swap" />
    <link rel="stylesheet" href="/static/css/school-landing.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="frame">
        <div class="frame-1">
          <div class="hero-contents">
            <div class="frame-2">
              <span class="saturday-school">SATURDAY SCHOOL</span
              ><span class="next-generation"
                >As we shape the next generation, the temple hosts a Saturday
                school with decades of experience. This page shows everything we
                have to offer and how to apply.</span
              >
            </div>
            <div class="frame-3">
              <button onclick="window.location.href = 'school/apply';" class="health-safety-button">
                <span class="apply">Apply</span></button
              ><button onclick="window.location.href = 'school/safety';" class="health-safety-button-4">
                <span class="health-and-safety">Health and Safety</span>
              </button>
            </div>
          </div>
        </div>
        <div class="frame-5">
          <div class="frame-6">
            <div onclick="window.location.href = '/';" class="lskt-logo"></div>
            <div class="navigation-bar">
              <span onclick="window.location.href = '/temple';" class="temple">temple</span
              ><span onclick="window.location.href = '/charity';" class="charity">charity</span
              ><span onclick="window.location.href = '/services';" class="services">services</span
              ><span onclick="window.location.href = '/school';" class="school">school</span
              ><span onclick="window.location.href = '/about';" class="about">about</span>
            </div>
          </div>
        </div>
      </div>
      <span class="announcements">ANNOUNCEMENTS</span
      ><span class="school-info"
        >Please use the latest information about the school as well as key dates
        for your diary. Parental permission has been provided to upload photos
      </span>
      <div class="frame-7">
        <div class="frame-8">
          <div class="frame-9">
            <div class="subjects-overview">
              <span class="subjects">SUBJECTS</span
              ><span class="inclusive-school"
                >We an inclusive school welcoming anybody with a love for our
                South Indian culture, no matter your religion! As a result, you
                can choose what subjects you want your children to take when
                applying yand the school administration will attempt to
                accommodate you.
              </span>
            </div>
            <div class="info-container">
              <div onclick="window.location.href = 'school/tamil';" class="tamil-button" ><span class="tamil">TAMIL</span></div>
              <div onclick="window.location.href = 'school/vocal';"class="vocal-button">
                <span class="carnatic-vocal">CARNATIC VOCAL</span>
              </div>
              <div onclick="window.location.href = 'school/dance';" class="dance-button"><span class="dance">DANCE</span></div>
              <div onclick="window.location.href = 'school/keyboard';" class="carnatic-keyboard-button">
                <span class="carnatic-keyboard">CARNATIC<br />KEYBOARD</span>
              </div>
              <div onclick="window.location.href = 'school/pannisai';" class="pannisai-button">
                <span class="pannisai">PANNISAI</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row-a">
        <div class="frame-a">
          <span class="timetable"
            >TIMETABLE<br />9:00AM to 9:30AM - Prayer (Sivapuranam)<br />9:30AM
            to 11:00AM - Lessons<br />11:00AM to 11:15AM - Break (in class)<br />11:15AM
            to 12:30PM - Lessons<br />12:30PM to 1:30PM - Extra Lessons
            (Optional) <br
          /></span>
        </div>
        <div class="frame-b">
          <span class="school-contact-info"
            >SCHOOL CONTACT INFO<br />Phone: <br />020 8318 9844<br /><br />School
            Email: londonsivant@gmail.com</span
          >
        </div>
      </div>
      <div class="footer">
        <div class="footer-left">
          <span class="lewisham-sivan-temple"
            >Lewisham Sivan Temple<br />4A Clarendon Rise<br />Lewisham, Greater
            London<br />SE13 5ES<br /><br />Charity No. 1051516<br /><br /></span
          ><span class="london-sivan-kovil">© London Sivan Kovil</span>
        </div>
        <div class="footer-right">
          <div class="frame-c">
            <div onclick="window.location.href = 'www.facebook.com/londonsivankoviltrust/?locale=en_GB';" class="vector"></div>
            <span class="london-sivan-kovil-trust"
              >London Sivan Kovil Trust</span
            >
          </div>
          <span class="s-arunsharma">S Arunsharma</span>
        </div>
      </div>
    </div>
  </body>
</html>
