
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Welcome to LSKT</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Maname:wght@400&display=swap" />
    <link rel="stylesheet" href="/static/css/temp-landing.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="flex-row-ff">
        <div onclick="window.location.href = '/' ;" class="lskt-logo"></div>
        <div class="navigation-bar">
          <span onclick="window.location.href = '/temple';" class="temple">temple</span>
          <span onclick="window.location.href = '/charity';" class="charity">charity</span
          ><span onclick="window.location.href = '/services';" class="services">services</span
          ><span onclick="window.location.href = '/school';" class="school">school</span>
          <span onclick="window.location.href = '/about';" class="about">about</span>
        </div>
      </div>
      <div class="hero-info">
        <span class="london-sivan-kovil">LONDON SIVAN KOVIL</span
        ><span class="welcome-to-the-official"
          >Welcome to the official London Sivan Kovil website. Located in
          Lewisham, we have been serving the Hindu community since 1993.</span
        >
      </div>
      <button onclick="window.location.href = '/about';" class="contact-us-button">
        <span class="contact-us">Contact Us</span></button
      ><button onclick="window.location.href = '/calendar';" class="temple-calender-button">
        <span class="temple-calendar">Temple Calendar</span>
      </button>
      <div class="frame">
        <span class="new-website-development"
          >OUR NEW WEBSITE IS CURRENTLY IN DEVELOPMENT </span
        ><span class="lskt-school-info"
          >For now, please use this website for information on the LSKT School
          only. We expect to release the rest of the website in the coming
          weeks.
        </span>
      </div>
      <div class="footer">
        <div class="footer-left">
          <span class="lewisham-sivan-temple"
            >Lewisham Sivan Temple<br />4A Clarendon Rise<br />Lewisham, Greater
            London<br />SE13 5ES<br /><br />Charity No. 1051516<br /><br /></span
          ><span class="london-sivan-kovil-1">© London Sivan Kovil</span>
        </div>
        <div class="footer-right">
          <div class="frame-2">
            <div onclick="window.location.href = '//www.facebook.com/londonsivankoviltrust';" class="vector"></div>
            <span class="london-sivan-kovil-3">London Sivan Kovil Trust</span>
          </div>
          <span class="s-arunsharma">S Arunsharma</span>
        </div>
      </div>
      <div class="hero-bg"></div>
    </div>
  </body>
</html>
